<header class="page-top-bar">
  <div class="navbar-header">
    <div  class="d-flex">
      <button (click)="toggleModes()" type="button" class="btn btn-sm px-2 mx-2 font-size-16 header-item vertical-menu-btn">
        <i class="bi bi-list-columns"></i>
      </button>
      <div class="navbar-brand-box">
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <img src="infinity-admin-high-resolution-logo-transparent.png" alt="" srcset="" height="60px">
        </a>
      </div>
    </div>
    <div class="d-flex">
      
    </div>
  </div>
</header>