<div class="main-wrapper" [ngClass]="{ 'main-wrapper--navigation-open': mainNavigationOpened }">
  <nav class="main-navigation">
    <i2z-sidenav-menu
      [menu]="menu"
      [mode]="currentSidebarMode"
      toggleIconClasses="bi bi-caret-right"
      iconClasses="bi bi-circle child-icon-size"
    >
    </i2z-sidenav-menu>
  </nav>
  <i2z-topnav (toggleSideNavMode)="currentSidebarMode=$event">

  </i2z-topnav>
  
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>

