
@import '../../theme/variables';
  .sidebar {
    position: fixed;
    left: 0;
    top: 4.5rem;
    height: 100vh;
    transition: 0.3s;
    box-shadow: 3px 0px 3px lightgrey;
    width: 4rem;
    &.expanded {
      width: 14rem;
      .header {
        h1 {
          margin-left: 0px;
        }
      }
      .content {
        .link {
          .content {
            justify-content: flex-start;
            .title {
              max-width: 100px;
            }
            .icon {
              margin-right: 3px;
            }
          }
          .children {
            display: block;
            .content {
              padding-left: 30px;
            }
          }
        }
      }
    }

    // &.collapsed-sidenave{
    //   .link{
    //     .content{
    //       &:hover{
    //         justify-content: start !important;
    //         padding: 10px 17px !important;
    //         cursor: pointer;
    //         // transition: 0.3s;
    //         display: flex;
    //         width: 200px;
    //         .title{
    //           overflow: visible !important;
    //           margin-left: 3rem;
    //         }
    //         +.children{
    //           position: absolute !important;
    //           display: block !important;
    //           left: 4rem;
    //           border: 2px solid !important;
    //           .link{
    //             .content{
    //               width: 8.2rem !important;
    //               align-items: center !important;
    //               justify-content: left !important;
    //               cursor: pointer;
    //               // transition: 0.3s;
    //               padding: 1px !important;
    //               .title{
    //                 overflow: visible !important;
    //                 max-width: 100% !important;
    //               }
    //             }
    //           }
    //         }
    //       }
    //     } 
    //   }
    // }
  
    background: $white;
    color: #6d6e7e;
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      background: $white;
  
      h1 {
        font-size: 20px;
        color: #6d6e7e;
        margin: 0;
        flex: 1;
        transition: 0.3s;
  
        margin-left: -100px;
      }
    }
  
    .content {
      .link {
        .children {
            display: none;
          .content {
            //background: $white;
            // padding-left: 30px;
            padding-left: 10px;
  
            &.active {
              background: $orange;
            }
          }
        }
        .content {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            background: $orange;
            .title {
              color: white;
            }
            .icon {
              color: $white;
            }
          }
  
          &.active {
            background: $orange;
            .title {
              color: white;
            }
          }
  
          .icon {
            flex: 0 0 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 0px;
          }
          .title {
            flex: 1;
            // display: none;
            color: #6d6e7e;
            transition: 0.3s;
            max-width: 0px;
            overflow: hidden;
          }
        }
      }
    }
  }

  